@font-face {
    font-family: 'SKODANext-Black';
    src: url('../fonts/SKODANext-Black.ttf') format('woff'),
        url('../fonts/SKODANext-Black.ttf') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SKODANext-BlackExpanded';
    src: url('../fonts/SKODANext-BlackExpanded.ttf') format('woff'),
        url('../fonts/SKODANext-BlackExpanded.ttf') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SKODANext-Bold';
    src: url('../fonts/SKODANext-Bold.ttf') format('woff'),
        url('../fonts/SKODANext-Bold.ttf') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SKODANext-BoldItalic';
    src: url('../fonts/SKODANext-BoldItalic.ttf') format('woff'),
        url('../fonts/SKODANext-BoldItalic.ttf') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SKODANext-Italic';
    src: url('../fonts/SKODANext-Italic.ttf') format('woff'),
        url('../fonts/SKODANext-Italic.ttf') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SKODANext-Light';
    src: url('../fonts/SKODANext-Light.ttf') format('woff'),
        url('../fonts/SKODANext-Light.ttf') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SKODANext-LightItalic';
    src: url('../fonts/SKODANext-LightItalic.ttf') format('woff'),
        url('../fonts/SKODANext-LightItalic.ttf') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SKODANext-Regular';
    src: url('../fonts/SKODANext-Regular.ttf') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}